@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #6b341c 0%, #1d1f20 100%);
  scroll-behavior: smooth;

  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "JetBrains Mono", monospace;
}
@layer base {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  table,
  th,
  td {
    padding: 12px;
    border: 1px solid #242120;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b110d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.codeblock {
  overflow-x: hidden;
}
.codeblock ::-webkit-scrollbar {
  overflow-x: hidden;
  width: 5px;
}

/* Track */
.codeblock ::-webkit-scrollbar-track {
  background: #1b110d;
}

/* Handle */
.codeblock ::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
.codeblock ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.box {
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #0084ff calc(50% - 100px),
    #0066ff 50%,
    #0084ff calc(50% + 100px)
  );
  color: black;
  background-size: 0;
  position: relative;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(200% + 200px);
  bottom: 0;
  animation: move 2s linear infinite;
  background-image: inherit;
  background-size: cover;
}
@keyframes move {
  to {
    transform: translateX(calc(50% + 100px));
  }
}
